<!-- Serve para reaproveitar partes do código-->
<%- include ('partials/header.ejs'); %>

    <body>
        <%- include('partials/navbar.ejs') %>
            <div class="container">
                <div class="card" id="fomulario-question">
                    <div class="card-header">
                        <h3>Realizar pergunta</h3>
                    </div>
                    <div class="card-body">
                        <form action="">
                            <label>Título</label>
                            <input class="form-control" type="text" placeholder="Titulo" id="">
                            <br><label>Descrição</label>
                            <textarea class="form-control" placeholder="faça sua pergunta"></textarea>
                            <br><button class="btn btn-primary">perguntar</button>
                        </form>
                    </div>
                </div>
            </div>
    </body>
    <%- include ('partials/footer.ejs') %>