<!-- Serve para reaproveitar partes do código-->
<%- include ('partials/header.ejs'); %>

    <body>
        <%- include('partials/navbar.ejs') %>
            <div class="container">
                <hr>
                <h1>
                    <%= questionPage.title %>
                </h1>
             <br>
                <form>
                    <h4>Responda</h4>
                    <textarea placeholder="Digite sua resposta" class="form-control" name="corpo"></textarea>
                    <button type="submit" class="btn btn-primary">Enviar resposta</button>
                </form>
            </div>
    </body>
    <%- include ('partials/footer.ejs') %>