body{
    background-color: #eceff1;
}
#fomulario-question{
    margin-top: 5vh;
}
.errorScreen{
    font-size: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin: auto;
    min-width: auto;
    min-height: 10em;
}