<%- include ('../partials/header.ejs') %>
  <link rel="stylesheet" href="/css/style.css">
  <h1>Redirecionando...</h1>

  <script type="text/javascript">
    alert('Resposta salva com sucesso !!');
    setTimeout(function () {
      window.location.href = "/";
    }, 1000);
    var toastElList = [].slice.call(document.querySelectorAll('.toast'))
    var toastList = toastElList.map(function (toastEl) {
      return new bootstrap.Toast(toastEl, option)
    })
  </script>